/*
Colors used:
Primary Color (Blue): #4FB0B0;
Secondary Color (Blue): #4FB0B0 opacity 25%;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Onest", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

a {
  color: #3451a1;
  text-decoration: none;
}

a:hover {
  color: #be6d6d;
  text-decoration: underline;
}

img {
  width: 100%;
}

#olivecontent img {
  width: 70%;
  display: block; 
  margin: 0 auto; 
}


.back-video {position: absolute; 
  right: 0;
bottom: 0;
z-index: -1;
}

@media (min-aspect-ratio: 16/9) {.back-video{width: 100%; height: auto;}}

@media (max-aspect-ratio: 16/9) {.back-video{width: auto; height: 100%;}}

.button {
  display: inline-block;
  background-color: #0c4e7a;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #2c8a8a;
  text-decoration: none;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #0c4e7a;
  text-transform: uppercase;
  border: 2px solid #0c4e7a;
  transition: 0.2s opacity;
}

.button.contact:hover {
  background-color: #0c4e7a;
  color: #ffffff;
  opacity: 0.8;
  text-decoration: none;
}

header {
  background-color: #617c8f;
  width: 100%;
  height: 100%;
  padding: 10px 0 4px;
  margin: 0 auto;
  position: relative;
  /* Add this if you want a positioning context */
  background: #617c8f;
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.3);
}

/* nav {
    display: inline-block;
    width: 100%; 
} */
nav > ul {
  /*affects only ul in navigation class, takes away bullet points and takes away padding so it is centered correctly*/
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  /* only selects the list items in the nav element*/
  padding: 0 15px;
  text-transform: uppercase;
  font-family: "Onest", sans-serif;
  font-weight: 500;
  color: #ffffff;
}
nav > ul > li > a:visited {
  color: #ffffff;
}

.navtoggle li:not(:last-child) {
  /*this targets navigation bar and hids all tabs but last li, allowing hamburger icon to be used by js*/
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
  color: #ffffff;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(207, 197, 196, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.video-container h1 {
  color: rgb(255, 255, 255); 
  font-size: 150 px;
}

.video-container span {
  color: rgb(255, 255, 255); 
  font-weight: 700;
  font-size: large;
}

.video-container p {
  color: rgb(255, 255, 255); 
  font-weight: 700;
  font-size: large;
}

#work .row {
  margin: 25px 0;
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#aboutpicture {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#hero {
  padding: 0 5%;
  display: inline-block;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
}

#hero span {
  display: block;
}

.logo {
  max-width: 150px;
}

.about {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#olivecontent {
  margin-top: 25px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

footer svg {
  max-width: 50px;
  /* Set the maximum width */
  max-height: 50px;
  /* Set the maximum height */
  padding: 5px;
  margin: 25px 0;
}

.row picture {
  max-width: 500px;
  /* Set the maximum width */
  max-height: 300px;
  /* Set the maximum height */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

footer {
  text-align: center;
}

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  nav > ul {
    margin: 1em 0;
  }
  .col-md-6 {
    width: 50%;
  }
  nav > ul > li {
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
}

[class*="col-"] {
  float: left;
  padding: 0 10px;
}

@media only screen and (min-width: 641px) {
  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .logo {
    min-width: 300px;
  }

  .navtoggle li:last-child {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    min-width: 300px;
  }

  .navtoggle li:last-child {
    display: none;
  }
}

@media only screen and (min-width: 1920px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    min-width: 300px;
  }

  .navtoggle li:last-child {
    display: none;
  }
}
